*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body{
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 70%;
    padding: 64px;
    background-color: #b3b3b3;
    text-align: center;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

p{
    padding: 20px;
}

#p-paragrafo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.p-paragrafo{
    flex-wrap: wrap;
    margin: 10px;
    background-color:coral ;
    border-radius: 5px;
}

h3{
    margin-top: 16px;
    font-weight: 600;
}

.q3-q4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 32px;
    column-gap: 32px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 10px;
}

.btn{
    background-color: blue;
    color: aliceblue;
    border: 1px solid deepskyblue;
    padding: 10px;
    border-radius: 3px;
    margin-top: 8px;
}

.btn-remove{
    background-color: rgb(190, 0, 16);
    color: aliceblue;
    border: 1px solid rgb(143, 0, 0);
    padding: 10px;
    border-radius: 3px;
    margin-top: 8px;
    margin-right: 8px;
}

.btn-remove:hover{
    background-color: rgb(145, 0, 0);
    cursor: pointer;
}

.btn:hover{
    background-color: dodgerblue;
    cursor: pointer;
}

.img-box{
    margin-top: 16px;
    height: 400px;
}

.divDinamica{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color:coral ;
    border-radius: 5px;
    min-width: 350px;
    height: 50px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color:coral ;
    border-radius: 5px;
    width: 60%;
    margin-top: 8px;
}

div.form-box label{
    align-self: start;
}

input.form-basico{
    width: 100%;
    margin: 8px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 16px;
}

div.form-box{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.form-basico::placeholder {
    padding-left: 10px;
}

input[type=text]:focus {
    box-shadow:0px 0px 20px rgb(151, 47, 9);
    border: 3px solid #b3b3b349;
}

input[type=e-mail]:focus {
    box-shadow:0px 0px 20px rgb(151, 47, 9);
    border: 3px solid #b3b3b349;
}


