*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body{
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 70%;
    padding: 64px;
    background-color: #b3b3b3;
    text-align: center;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

p{
    padding: 16px;
}

#p-paragrafo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px ;
}

.p-paragrafo{
    flex-wrap: wrap;
    margin: 8px;
    padding: 16px;
    width: 250px;
    background-color:#252525 ;
    border-radius: 5px;
    color: #b3b3b3;
    column-gap: 20px ;
}

.p-click{
    flex-wrap: wrap;
    margin: 8px;
    padding: 16px;
    width: 300px;
    background-color:#252525 ;
    border-radius: 5px;
    color: #b3b3b3;
    column-gap: 20px ;
}

h3{
    margin-top: 16px;
    font-weight: 600;
}

.q3-q4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 32px;
    column-gap: 32px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 10px;
}

.btn{
    background-color:mediumblue;
    color: aliceblue;
    border: 1px solid deepskyblue;
    padding: 10px;
    border-radius: 3px;
    margin-top: 8px;
    transition: 0.1s;
}

.btn-remove{
    background-color: rgb(190, 0, 16);
    color: aliceblue;
    border: 1px solid rgb(143, 0, 0);
    padding: 8px;
    margin-left: 8px;
    border-radius: 3px;
    transition: 0.1s;
}

.btn-remove:hover{
    background-color: rgb(145, 0, 0);
    cursor: pointer;
}

.btn:hover{
    background-color: dodgerblue;
    cursor: pointer;
}

/* --- DarkMode ---*/
.dark-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #252525;
    height: 100px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 8px;
}

.light-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: #cccccc;
    height: 100px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 8px;
}

.btn-light{
    background-color: rgb(48, 48, 48);
    color: aliceblue;
    border: 1px solid rgb(0, 24, 44);
    padding: 10px;
    border-radius: 3px;
    transition: 0.5s;
}

.btn-light:hover{
    background-color: rgb(1, 12, 24);
    cursor: pointer;
    border: 5px;
}

.btn-dark{
    background-color: rgb(230, 230, 230);
    color: rgb(0, 24, 44);
    border: 1px solid deepskyblue;
    padding: 10px;
    border-radius: 3px;
    transition: 0.5s;
}

.btn-dark:hover{
    background-color: rgb(1, 12, 24);
    color: #b3b3b3;
    cursor: pointer;
}

/* --- DarkMode Final---*/

.img-box{
    margin-top: 16px;
    height: 400px;
}

.divDinamica{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color:#252525 ;
    border-radius: 5px;
    min-width: 350px;
    height: 50px;
    color: #b3b3b3;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color:#252525 ;
    border-radius: 5px;
    width: 60%;
    margin-top: 8px;
}

div.form-box label{
    color: #b3b3b3;
    align-self: start;
}

input.form-basico{
    width: 100%;
    margin: 8px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 16px;
}

div.form-box{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.form-basico::placeholder {
    padding-left: 10px;
}

input[type=text]:focus {
    box-shadow:0px 0px 10px dodgerblue;
    border: 3px solid #b3b3b349;
}

input[type=e-mail]:focus {
    box-shadow:0px 0px 10px dodgerblue;
    border: 3px solid #b3b3b349;
}

.p-area{
    position: relative;
    border-radius: 5px;
    background-color: #252525;
    width: 70%;
    height: 400px;
    margin-top: 8px;
}

.info{
    position: relative;
    top: 300px; 
    left: 0; 
    color: #b3b3b3;
}

#personagem{
    position: relative;
    top: 0; 
    left: 0; 
    width: 50px; 
    height: 50px; 
    border-radius: 4px;
    z-index: 999;
}

.personagem{
    background-color: coral;
    transition: 0.3s;
}

.personagemDash{
    background-color: dodgerblue;
    transition: 0.3s;
}

/*default*/
.menu{
    background-color: #b3b3b3;
    padding: 32px;
    margin-top: 8px;
    border-radius: 5px;
}

.itembar{
    margin-top: 32px;
}

li.item{
    list-style: none;
}

.menu-mute{
    background-color:#252525;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin-top: 8px;
}

.itembar-mute{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    height: 60px;
}

.item-mute{
    background-color:#252525;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.item-mute a{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.item-mute li a{
    height: 80px;
}

.item-mute a:hover{
    color: dodgerblue;
    text-decoration: none;
}

.item-mute li:hover{
    color: dodgerblue;
    text-decoration: none;
}

.item-mute:hover{
    height: 80px;
    background-color: aliceblue;
    cursor: pointer;
}

.btn-mute{
    background-color: rgb(230, 230, 230);
    font-weight: 500;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn-mute:hover{
    background-color: dodgerblue;
    color: aliceblue;
    cursor: pointer;
}

.btn-mute:active{
    background-color: mediumblue;
    border: dodgerblue;
    color: white;
    cursor: pointer;
}

.p-color{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #252525;
    width: 70%;
    height: 400px;
    border-radius: 5px;
    margin-top: 8px;
    transition: 1s;
}

.area-color{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: #b3b3b3;
    width: 60%;
    height: 200px;
    border-radius: 5px;
    transition: 1s;
}

.btn-white{
    background-color: rgb(249, 249, 255);
    color: rgb(24, 24, 24);
    border: 1px solid rgb(99, 99, 99);
    padding: 10px;
    border-radius: 3px;
    margin-top: 8px;
    transition: 0.1s;
}

.btn-white:hover{
    background-color: rgb(51, 51, 51);
    color: rgb(224, 224, 224);
    border: 1px solid rgb(224, 224, 224);
    transition: 0.1s;
}

.btn-white:active{
    background-color: rgb(94, 94, 94);
    color: rgb(224, 224, 224);
    transition: 0.1s;
}

.box-infos{
    margin-top: 8px;
    color: #b3b3b3
}

.infos{
    width: 100%;
    background-color: #252525;
    padding: 16px;
    margin-top: 8px;
    border-radius: 5px;
    color: #b3b3b3;
}

.p-slider{
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 400px;
    padding: 32px;
    border-radius: 5px;
    margin-top: 8px;
}

.btn-way{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 120px;
}

.btn-way:hover{
    background-color: #b3b3b323;
    border-radius: 10px ;
    transition: 0.5;
}

.btn-way:active{
    background-color: #ff61618c;
    border-radius: 10px ;
}

.imageShow{
    height: 400px;
    width: 600px;
    display: flex;
    overflow: hidden;
}

.imgCarrossel{
    object-fit: cover;
    width: 600px;
    height: 350px;

}

.main{
    width: 100%;
    background-color: #252525;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    margin-top: 8px;
}

.nav-q{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 16px;
    border-radius: 10px;
    width: 100%;
    min-height: 70px;
}

.nav-itens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
}

.nav-a{
    display: flex;
    align-items: center;
    padding: 18px;
    height: 70px;
    color: mediumblue;
    text-decoration: none;
    transition: 0.1s;
    border-radius: 10px;
}
.nav-a:hover{
    color: #b3b3b3;
    background-color: #252525;
}

.meuModal{
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    margin-top: 8px;
}

.modal-show{
    background-color: #252525;
    color: #b3b3b3;
    padding: 32px;
    width: 700px;
}

dialog{
    border: none;
    border-radius: 10px;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 30px #1b1b1b;
    width: 80%;
    justify-self: center;
    align-self: center;
}

dialog::backdrop{
    background-color: #252525da;
}

/* #q1, #q2, #q3, #q4 {
    opacity: 0.5;
    transition: opacity 0.5s ease;
} */